*{
  margin:  0;
  padding: 0;
  box-sizing: 0;  
}

.title{
  color:rgb(0, 0, 0);
  background-color: rgba(202, 202, 202, 0.877);
}


body{
  text-align: center;
  margin: 12,5cm;
  padding: 5%;
  font: normal medium/1.4 sans-serif;
}


body{
  background-image:url(../Image/1-14-730x410-1.jpg);
  background-size:auto;

}


#menu-h {     
  background-color: rgb(15, 14, 14);  
  text-align: center;

}


#menu-h li{
  display: inline;
}


#menu-h li a{

  display: inline-block;    
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 19px;

  
}


#menu-h li a:hover{  /* Used to put colour when you pass o mouse on the menu*/
  transition: background 1s; 
  background-color: rgb(191, 194, 19);
}


.table_name{
  background-color: rgb(174, 174, 175, 0.952);
  text-align: center;
}


.description_table{
  
  text-align: center;
  background-color: rgb(174, 174, 175, 0.952);
  color: black;
}


table { 
  
  border-collapse: collapse;
  font-family: 'Calibri';
  width:100%;
  border-spacing: 0;
  margin: 25px auto;
  background-color: rgba(231, 226, 226, 0.89);
}


tbody tr:nth-child(odd) {
  background: rgba(174, 174, 175, 0.952);

}


th{
  color: rgb(0, 0, 0);
  position: sticky;
  background-color: rgb(87, 85, 85);
}


th, td {
  margin: 0;
  padding: 0.25rem;
  border: 0;
  font-size: 100%;
  font: inherit; vertical-align: baseline;
  border: 1px solid rgb(0, 0, 0);
}

  
.header{
  position: sticky;
  top: 0;
}

.content {
  padding: 16px;
}
  

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
  

.sticky + .content {
  padding-top: 102px;
}
