

* {
    margin:  0;
    padding: 0;
    box-sizing: 0;

    
}

 body{
    text-align: center;

    padding: 180px;
    background-image:url(../Image/empr_230-human_resources.png);
    opacity: 0px;

 
 }

 .image{
    background-color: rgba(53, 11, 138, 0.082);
    background-position: 1050px;
    opacity: var(../Image/18688.jpg);
    opacity: .3;
 }




th,td{

    border: 2px solid rgb(12, 10, 10);
    padding: 1.5rem;
}
  
 
 #menu-h { 

    list-style: none;
    padding: 15px;
    background-color: rgb(0, 0, 0);  
    max-width: 825px;  
    text-align: center;
 }

#menu-h li{
    display: inline;    
}

#menu-h li a{

    display: inline-block;    
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background 1s; 
    text-align: center;
     
}


#menu-h li a:hover{  
    background-color: rgb(192, 23, 23);
}


    